:root {
  --color-primary: #6a1b9a;     /* Morado */
  --color-accent: #e53935;      /* Tomate */
  --color-highlight: #fdd835;   /* Amarillo */
  --color-light: #81d4fa;       /* Celeste */
  --color-dark: #0a2e38;        /* Azul oscuro */

  --navbar-height: 70px;
  --footer-height: 60px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2e004f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content {
  flex: 1;
  padding-top: var(--navbar-height);
  padding-bottom: var(--footer-height);
}