<section class="home section" id="home">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">Hello, my name is <span class="name">Eduardo García</span></h3>
                <h3 class="my-profession">I'm a <span class="typing">Software Enginering student</span></h3>
                <p>
                I am a passionate software engineering student with a strong interest in web development and programming. I enjoy learning new technologies and applying them to real-world projects. My goal is to become a proficient software engineer and contribute to innovative solutions that make a difference in people's lives.
                </p> 
                <a href="#contact" class="btn hire-me">Hire Me</a>
            </div>
            <div class="home-img padd-15">
            <img src="images/SRC.jpg" alt="Eduardo García">
            </div>
        </div>
    </div>
</section>