/* Reset y ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #E8FFD7; /* tu color base */
  color: #3E5F44;
}

body {
  display: flex;
  flex-direction: column;
}

/* El contenedor principal ocupará todo */
app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
